main/paper.aux
main/paper.log
main/paper.pdf
main/paper.synctex.gz
main/paper.bbl
main/paper.blg
main/paper.out
main/paper.toc
main/title.aux
main/title.aux
main/f_abstract.aux
main/f_implementation.aux
main/f_introduction.aux
main/f_theory.aux
main/f_examples.aux
main/f_implementation.log